name: github-action-ci-cd

on:
  push:
    branches: master


jobs:
  build:
    name: Build Job
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install requred packages
        run: |
          apt update
          apt install tree -y  
