name: github-action-ci-cd

on:
  push:
    branches: master

jobs:
  basic-configuration:
    runs-on: self-hosted
    steps:
      - name: Install requred packages
        run: |
          sudo rm -rf /var/lib/apt/lists/*
          sudo apt clean
          sudo apt update
          sudo apt install tree -y  

      - name: Install AWS-CLI
        run: |
          #!/bin/bash
          AWS_CLI=$(aws --version 2>&1)
          STATUS=$?         

          if [[ $STATUS -eq 0 ]]; then
            echo "✅ AWS CLI detected"
            echo "$AWS_CLI"
          else
            echo "❌ AWS CLI not detected"
            echo "Install AWS CLI on Runner..."
            sudo apt install -y curl unzip less
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
            aws --version            
          fi   

      - name: Install Docker
        run: |
          #!/bin/bash
          DOCKER=$(sudo docker --version 2>&1)
          STATUS=$?         

          if [[ $STATUS -eq 0 ]]; then
            echo "✅ Docker detected"
            echo "$DOCKER"
          else
            echo "❌ AWS CLI not detected"
            echo "Install AWS CLI on Runner..."
            sudo apt install apt-transport-https ca-certificates curl software-properties-common -y
            sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
            echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
            sudo apt update
            sudo apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin -y
            sudo docker --version
            sudo systemctl enable docker
            sudo systemctl restart docker           
          fi      

      - name: Configure AWS creds
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }} 

      - name: Validate IAM User
        run: aws sts get-caller-identity    
                         

  Checkout Source Code:
    runs-on: self-hosted
    needs: basic-configuration
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4  

      - uses: actions/upload-artifact@v4
        with:
          name: source
          path: .          

  # Build And Tag Docker Image:
  #   runs-on: self-hosted
  #   needs: Checkout Source Code
  #   steps:
  #     - name: Build Docker image (with persistent cache)
  #       uses: docker/build-push-action@v5
  #       with:
  #         context: .
  #         load: true
  #         tags: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/dev/node-app:${{ github.run_number }}
  #         cache-from: type=gha
  #         cache-to: type=gha,mode=max


#     steps:

#       # - name: Build Docker image (with persistent cache)
#       #   uses: docker/build-push-action@v5
#       #   with:
#       #     context: .
#       #     load: true
#       #     tags: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/dev/node-app:${{ github.run_number }}
#       #     cache-from: type=gha
#       #     cache-to: type=gha,mode=max

#       # - name: Build & Push Image 
#       #   run: |
#       #     aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
#       #     # docker build -t ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/dev/node-app:${{ github.run_number }} .
#       #     docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/dev/node-app:${{ github.run_number }}

#       # - name: Deployment via argocd 
#       #   run: |
#       #     argocd login argocd.devsecops.com --username admin --password 3PYl4YwJUDJKp4I3 --insecure
#       #     argocd app sync node-app
