name: github-action-ci-cd

on:
  push:
    branches: master


jobs:
  build:
    name: Build Job
    runs-on: self-hosted

    steps:
      - name: Install requred packages
        run: |
          sudo apt update
          sudo apt install tree -y  

      - name: Install awc-cli
        run: |
          #!/bin/bash
          AWS_CLI=$(aws --version 2>&1)
          STATUS=$?         

          if [[ $STATUS -eq 0 ]]; then
            echo "✅ AWS CLI detected"
            echo "$AWS_CLI"
          else
            echo "❌ AWS CLI not detected"
            echo "Install AWS CLI on Runner..."
            sudo apt install -y curl unzip less
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
            aws --version            
          fi

      - name: Check user
        run: whoami

      - name: Configure AWS creds
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }} 

      - name: Who am I
        run: aws sts get-caller-identity

      - name: Checkout
        uses: actions/checkout@v4

 
                    


