name: github-action-ci-cd

on:
  push:
    branches: master


jobs:
  build:
    name: Build Job
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install requred packages
        run: |
          sudo apt update
          sudo apt install tree -y  

      - name: Install awc-cli
        run: |
          #!/bin/bash
          aws --version
          echo $?

          


