name: github-action-ci-cd

on:
  push:
    branches: master


jobs:
  build:
    name: Build Job
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install requred packages
        run: |
          sudo apt update
          sudo apt install tree -y  

      - name: Install awc-cli
        run: |
          #!/bin/bash
          AWS_CLI=$(aws --version 2>&1)
          STATUS=$?

          echo "$AWS_CLI"

          if [[ $STATUS -eq 0 ]]; then
            echo "✅ AWS CLI detected"
            cmd
          else
            echo "❌ AWS CLI not detected"
            exit 1
          fi
                    


